@import "@wordpress/base-styles/mixins";
@import "@wordpress/base-styles/breakpoints";

[class^="wp-block-"] {
	&.has-responsive-settings {
		&.has-responsive-display-small {
			@include break-medium() {
				display: none;
			}
		}
		&.has-responsive-display-small-medium {
			@include break-xlarge() {
				display: none;
			}
		}
		&.has-responsive-display-medium {
			@media (max-width: #{ ($break-medium - 1) }) {
				display: none;
			}
			@include break-xlarge() {
				display: none;
			}
		}
		&.has-responsive-display-medium-large {
			@media (max-width: #{ ($break-medium - 1) }) {
				display: none;
			}
		}
		&.has-responsive-display-large {
			@media (max-width: #{ ($break-xlarge - 1) }) {
				display: none;
			}
		}
	}
}


$breakpoints: (
	lg: 1000px,
	md: 780px,
	sm: 425px,
);

@mixin breakpoint($point) {
  @if map-has-key($breakpoints, $point) {
    $breakpoint: map-get($breakpoints, $point);

    @if $point == large {
      @media (min-width: $breakpoint) {
        @content;
      }
    } @else {
      @media (max-width: $breakpoint) {
        @content;
      }
    }
  }
}

// Define a map of properties and corresponding values
$properties: (
  "flex-direction": (row, column, row-reverse, column-reverse),
  "flex-wrap": (nowrap, wrap, wrap-reverse),
  "justify-content": (flex-start, flex-end, center, space-between, space-around),
  "align-items": (stretch, flex-start, flex-end, center, baseline),
  "align-content": (stretch, flex-start, flex-end, center, space-between, space-around),
);

[class^="wp-block-"] {
  .res {
    @each $property, $values in $properties {
      &-#{$property} {
        @each $point in map-keys($breakpoints) {
          @include breakpoint($point) {
            @each $value in $values {
              &-#{$point}-#{$value} {
                #{$property}: $value;
              }
            }
          }
        }
      }
    }
  }
}
