.select-btn {
	&__btn {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		border: none;
		padding: 0px;
		border-radius: 2px;
		transition: color 0.2s ease-in-out;
		&:hover {
			border: 1px solid rgba(211, 211, 211, 0.5);
		}

		svg {
			width: 20px;
			height: 20px;
		}
	}
	&__group {
		padding: 2px;
		border-radius: 3px;
		display: flex;
		flex-direction: row;
		gap: 2px;
		border: 1px solid transparent;
		max-width: max-content;
		&:hover {
			border: 1px solid black;
		}
	}
	&__ui {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	&__label {
		text-transform: capitalize;
		color:   #585858;
		font-size: 12px;
		font-weight: 400;
		margin-top: 8px;
		span{
			color: black;
			font-weight: 600;
		}
	}
}

button[aria-selected="true"] {
	border-bottom: 2px solid #007cba;
}
